@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


::-webkit-scrollbar {
  width: 2px; 
}

::-webkit-scrollbar-track {
  background: transparent; 
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  background: #6D28D9; 
  border-radius: 9999px; 
}


* {
  scrollbar-width: thin;
  scrollbar-color: #6D28D9 transparent;
}
